{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form action="#">
        <div class="row">
            <div>
                <label for="fname">Product Name</label>
                <input type="text" id="fname" name="product_name" placeholder="Your name..">
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Product Hunt Link</label>
                <input type="text" id="lname" name="ph_link" placeholder="Your last name..">
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Product Website</label>
                <input type="text" id="lname" name="website" placeholder="Your last name..">
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Product Lauch Date/label>
                <input type="text" id="lname" name="website" placeholder="Your last name..">
            </div>
        </div>
        <div class="row">
            <div>
                <label for="country">Product Team Sizes</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div>
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div>
                <label for="subject">Product Turkish Description</label>
                <textarea id="subject" name="tr_description" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <div>
                <label for="subject">Product English Description</label>
                <textarea id="subject" name="en_description" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock content %}