{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Add Your Product - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Girişimini Ekle - Product Hunt Turkey
{% endif %}
{% endblock title %}

{% block og-title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Add Your Product - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Girişimini Ekle - Product Hunt Turkey
{% endif %}
{% endblock og-title %}

{% block og-description %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Share the product with thousands of product hunt fans
{% elif CURRENT_LANGUAGE == 'tr' %}
Binlerce product hunt hayranıyla ürünü paylaş.
{% endif %}
{% endblock og-description %}

{% block og-site-name %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Add Your Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Ürününü Ekle - Product Hunt Turkey
{% endif %}
{% endblock og-site-name %}

{% block og-twitter-title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Add Your Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Ürününü Ekle - Product Hunt Turkey
{% endif %}
{% endblock og-twitter-title %}

{% block og-twitter-description %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Add Your Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Ürününü Ekle - Product Hunt Turkey
{% endif %}
{% endblock og-twitter-description %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add-your-startup.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% get_current_language as CURRENT_LANGUAGE %}
        {% if CURRENT_LANGUAGE == 'en' %}
        <div class="row">
            <p class="form-info-title">Add Your Product Form Terms of Use</p>
            </br>
            <p>The points you need to pay attention to in order to publish your product in the Product Hunt Turkey community;</p>
            </br>
            <ol>
                <li>Your product must not encourage humanity to gamble or similar bad habits.</li>
                <li>Your product must not be harmful to social morality.</li>
            </ol>
            </br>
        </div>
        {% elif CURRENT_LANGUAGE == 'tr' %}
        <div class="row">
            <p class="form-info-title">Girişimini Ekle Kullanım Şartları</p>
            </br>
            <p>Product Hunt Turkey topluluğunda ürününüzü yayınlayabilmek için dikkat etmeniz gereken hususlar;</p>
            </br>
            <ol>
                <li>Ürününüz insanlığı kumar ve benzeri kötü alışkanlıklara teşvik etmiyor olması gerekmektedir.</li>
                <li>Ürününüz toplumsal ahlakı zedeleyici olmaması gerekmektedir.</li>
            </ol>
            </br>
        </div>
        {% endif %}
        <div class="row">
            <div>
                <label>{% trans "Product Name" %}{% if form.product_name.field.required %}*{% endif %}</label>
                {{form.product_name}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Picture" %}{% if form.product_picture.field.required %}*{% endif %}</label>
                <br>
                {{form.product_picture}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Hunt Link" %}{% if form.product_ph_link.field.required %}*{% endif %}</label>
                {{form.product_ph_link}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Website" %}{% if form.product_website.field.required %}*{% endif %}</label>
                {{form.product_website}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Lauch Date" %}{% if form.product_launch_date.field.required %}*{% endif %}</label>
                <br>
                {{form.product_launch_date}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Twitter Username" %}{% if form.product_twitter.field.required %}*{% endif %}</label>
                {{form.product_twitter}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Owner Username" %}{% if form.product_owner_twitter.field.required %}*{% endif %}</label>
                {{form.product_owner_twitter}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Team Sizes" %}{% if form.product_team_size.field.required %}*{% endif %}</label>
                {{form.product_team_size}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Country" %}{% if form.product_city.field.required %}*{% endif %}</label>
                {{form.product_city}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Turkish Description" %}{% if form.product_about_tr.field.required %}*{% endif %}</label>
                {{form.product_about_tr}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product English Description" %}{% if form.product_about_en.field.required %}*{% endif %}</label>
                {{form.product_about_en}}
            </div>
        </div>
        <div class="row">
            <div>
                {{form.captcha}}
            </div>
        </div>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <input type="submit" value="{% trans " Submit" %}">
        </div>
    </form>
</div>
{% endblock content %}