{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add-your-startup.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div>
                <label>{% trans "Product Name" %}</label>
                {{form.product_name}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Picture" %}</label>
                <br>
                {{form.product_picture}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Hunt Link" %}</label>
                {{form.product_ph_link}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Website" %}</label>
                {{form.product_website}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Lauch Date" %}</label>
                <br>
                {{form.product_launch_date}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Twitter Username" %}</label>
                {{form.product_twitter}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Owner Username" %}</label>
                {{form.product_owner_twitter}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Team Sizes" %}</label>
                {{form.product_team_size}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Country" %}</label>
                {{form.product_city}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product Turkish Description" %}</label>
                {{form.product_about_tr}}
            </div>
        </div>
        <div class="row">
            <div>
                <label>{% trans "Product English Description" %}</label>
                {{form.product_about_en}}
            </div>
        </div>
        <div class="row">
            <input type="submit" value="{% trans " Submit" %}">
        </div>
    </form>
</div>
{% endblock content %}