{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/ambassadors.css' %}">
{% endblock css %}

{% block content %}
{% include 'partials/_social-media.html' %}
<h1 class="ambassador-title">{% trans "Product Hunt Ambassadors of 🇹🇷 Turkey" %}</h1>
<article class="ambassador-list">
    <section class="ambassador-list__item">
        <figure class="ambassador-list__picture">
            <img src="{% static 'images/picture.png' %}" class="ambassador-list__picture__item" alt="">
        </figure>
        <h2 class="ambassador-list__name">Abdullah Şahin</h2>
        <div class="social-media-items">
            <a href="https://www.producthunt.com/@abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/product-hunt.svg' %}">
                </figure>
            </a>
            <a href="https://twitter.com/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/twitter.svg' %}">
                </figure>
            </a>
            <a href="https://www.linkedin.com/in/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/linkedin.svg' %}">
                </figure>
            </a>
            <a href="https://superpeer.com/abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/superpeer.svg' %}">
                </figure>
            </a>
        </div>
    </section>
    <section class="ambassador-list__item">
        <figure class="ambassador-list__picture">
            <img src="{% static 'images/picture.png' %}" class="ambassador-list__picture__item" alt="">
        </figure>
        <h2 class="ambassador-list__name">Abdullah Şahin</h2>
        <div class="social-media-items">
            <a href="https://www.producthunt.com/@abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/product-hunt.svg' %}">
                </figure>
            </a>
            <a href="https://twitter.com/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/twitter.svg' %}">
                </figure>
            </a>
            <a href="https://www.linkedin.com/in/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/linkedin.svg' %}">
                </figure>
            </a>
            <a href="https://superpeer.com/abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/superpeer.svg' %}">
                </figure>
            </a>
        </div>
    </section>
    <section class="ambassador-list__item">
        <figure class="ambassador-list__picture">
            <img src="{% static 'images/picture.png' %}" class="ambassador-list__picture__item" alt="">
        </figure>
        <h2 class="ambassador-list__name">Abdullah Şahin</h2>
        <div class="social-media-items">
            <a href="https://www.producthunt.com/@abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/product-hunt.svg' %}">
                </figure>
            </a>
            <a href="https://twitter.com/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/twitter.svg' %}">
                </figure>
            </a>
            <a href="https://www.linkedin.com/in/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/linkedin.svg' %}">
                </figure>
            </a>
            <a href="https://superpeer.com/abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/superpeer.svg' %}">
                </figure>
            </a>
        </div>
    </section>
    <section class="ambassador-list__item">
        <figure class="ambassador-list__picture">
            <img src="{% static 'images/picture.png' %}" class="ambassador-list__picture__item" alt="">
        </figure>
        <h2 class="ambassador-list__name">Abdullah Şahin</h2>
        <div class="social-media-items">
            <a href="https://www.producthunt.com/@abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/product-hunt.svg' %}">
                </figure>
            </a>
            <a href="https://twitter.com/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/twitter.svg' %}">
                </figure>
            </a>
            <a href="https://www.linkedin.com/in/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/linkedin.svg' %}">
                </figure>
            </a>
            <a href="https://superpeer.com/abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/superpeer.svg' %}">
                </figure>
            </a>
        </div>
    </section>
    <section class="ambassador-list__item">
        <figure class="ambassador-list__picture">
            <img src="{% static 'images/picture.png' %}" class="ambassador-list__picture__item" alt="">
        </figure>
        <h2 class="ambassador-list__name">Abdullah Şahin</h2>
        <div class="social-media-items">
            <a href="https://www.producthunt.com/@abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/product-hunt.svg' %}">
                </figure>
            </a>
            <a href="https://twitter.com/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/twitter.svg' %}">
                </figure>
            </a>
            <a href="https://www.linkedin.com/in/mrabdullahsahin" target="_blank" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/linkedin.svg' %}">
                </figure>
            </a>
            <a href="https://superpeer.com/abdullahsahin" class="social-media-items__link">
                <figure class="social-media-items__figure">
                    <img src="{% static 'images/svg/superpeer.svg' %}">
                </figure>
            </a>
        </div>
    </section>
</article>
{% endblock content %}