{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% include 'partials/_social-media.html' %}
<div class="product-section">
    {% regroup products by product_launch_date as products_list %}
    {% for products in products_list %}
    <time class="time">{{products.grouper}}</time>
    {% for product in products.list %}
    <section class="startup-list">
        <article class="list-data">
            <figure>
                <img class="picture" src="{{product.product_picture.url}}"
                    alt="product-hunt-turkey-{{product.product_name}}" />
            </figure>
            <div class="info">
                <h2 class="info-title">{{product.product_name}}</h2>
                <p class="info-description">{{product.product_description}}</p>
                <div>
                    <span>🇹🇷 {{product.product_city}}</span>
                    <span>🧑‍💼 {{product.product_team_size}}</span>
                </div>
            </div>
            <a class="support" href="{{product.product_ph_link}}?ref=producthuntturkey.com" target="_blank"
                rel="noopener noreferrer">
                <button class="support-button">{% trans "View" %}</button>
            </a>
        </article>
    </section>
    {% endfor %}
    {% endfor %}
</div>
{% endblock content %}