{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
<div class="MetricContainer">
    <div class="Metric">
        <h2 class="MetricTitle">Number of Total Startups</h2>
        <p class="MetricContent">99</p>
    </div>
    <div class="Metric">
        <h2 class="MetricTitle">Number of E-Mail Subscribers</h2>
        <p class="MetricContent">178</p>
    </div>
    <div class="Metric">
        <h2 class="MetricTitle">Number of Telegram Channel Subscribers</h2>
        <p class="MetricContent">97</p>
    </div>
</div>
{% endblock content %}