{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Open Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Açık Girişim - Product Hunt Turkey
{% endif %}
{% endblock title %}

{% block og-title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Open Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Açık Girişim - Product Hunt Turkey
{% endif %}
{% endblock og-title %}

{% block og-description %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Open Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Açık Girişim - Product Hunt Turkey
{% endif %}
{% endblock og-description %}

{% block og-site-name %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Open Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Açık Girişim - Product Hunt Turkey
{% endif %}
{% endblock og-site-name %}

{% block og-twitter-title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Open Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Açık Girişim - Product Hunt Turkey
{% endif %}
{% endblock og-twitter-title %}

{% block og-twitter-description %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
Open Startup - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Açık Girişim - Product Hunt Turkey
{% endif %}
{% endblock og-twitter-description %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/open-startup.css' %}">
{% endblock css %}

{% block content %}
<div class="MetricContainer">
    <div class="Metric">
        <h2 class="MetricTitle">{% trans "Number of Total Startups" %}</h2>
        <p class="MetricContent">{{products_number}}</p>
    </div>
    <div class="Metric">
        <h2 class="MetricTitle">{% trans "Number of E-Mail Subscribers" %}</h2>
        <p class="MetricContent">178</p>
    </div>
    <div class="Metric">
        <h2 class="MetricTitle">{% trans "Number of Telegram Channel Subscribers" %}</h2>
        <p class="MetricContent">97</p>
    </div>
</div>
{% endblock content %}