{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/open-startup.css' %}">
{% endblock css %}

{% block content %}
<div class="MetricContainer">
    <div class="Metric">
        <h2 class="MetricTitle">{% trans "Number of Total Startups" %}</h2>
        <p class="MetricContent">{{products_number}}</p>
    </div>
    <div class="Metric">
        <h2 class="MetricTitle">{% trans "Number of E-Mail Subscribers" %}</h2>
        <p class="MetricContent">178</p>
    </div>
    <div class="Metric">
        <h2 class="MetricTitle">{% trans "Number of Telegram Channel Subscribers" %}</h2>
        <p class="MetricContent">97</p>
    </div>
</div>
{% endblock content %}