{% extends 'partials/_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<h1>{{ product.product_name }}</h1>
<br>
<span>{{ product.product_launch_date }}</span>
<br>
<figure>
    <img class="picture" height="100" width="100" src="{{product.product_picture.url}}"
        alt="product-hunt-turkey-{{product.product_name}}" />
</figure>
<br>
<span><a href="{% url 'city-list' product.product_city.slug %}">🇹🇷 {{product.product_city}}</a></span>
<br>
<span><a href="{% url 'team-size-list' product.product_team_size.slug %}">🧑‍💼 {{product.product_team_size}}</a></span>
<br>
<span>PH Link: {{ product.product_ph_link }}</span>
<br>
<span>Website: {{ product.product_website }}</span>
<br>
<span>Product Twitter: {{ product.product_twitter }}</span>
<br>
<span>Owner Twitter: {{ product.product_owner_twitter }}</span>
<br>
<span>Votes: {{ product.product_hunt_votes }}</span>
<br>
{% endblock content %}