{% extends 'partials/_base.html' %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/terms-of-service.css' %}">
{% endblock css %}

{% block content %}
{% if CURRENT_LANGUAGE == 'en' %}
<article class="terms-of-service">
    <strong>Website Terms and Conditions of Use</strong>
    <p>Last Update: 03/07/2022</p>
    <strong>1. Terms</strong>
    <p>By accessing this Website, accessible from https://producthuntturkey.com/, you are agreeing to be bound by these
        Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable
        local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials
        contained in this Website are protected by copyright and trade mark law.</p>
    <strong>2. Use License</strong>
    <p>Permission is granted to temporarily download one copy of the materials on Product Hunt Turkey's Website for
        personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and
        under this license you may not:</p>
    <ol>
        <li>modify or copy the materials;</li>
        <li>use the materials for any commercial purpose or for any public display;</li>
        <li>attempt to reverse engineer any software contained on Product Hunt Turkey's Website;</li>
        <li>remove any copyright or other proprietary notations from the materials; or</li>
        <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
    </ol>
    <p>This will let Product Hunt Turkey to terminate upon violations of any of these restrictions. Upon termination,
        your viewing right will also be terminated and you should destroy any downloaded materials in your possession
        whether it is printed or electronic format. These Terms of Service has been created with the help of the Terms
        Of Service Generator.</p>
    <strong>3. Disclaimer</strong>
    <p>All the materials on Product Hunt Turkey’s Website are provided "as is". Product Hunt Turkey makes no warranties,
        may it be expressed or implied, therefore negates all other warranties. Furthermore, Product Hunt Turkey does
        not make any representations concerning the accuracy or reliability of the use of the materials on its Website
        or otherwise relating to such materials or any sites linked to this Website.</p>
    <strong>4. Limitations</strong>
    <p>Product Hunt Turkey or its suppliers will not be hold accountable for any damages that will arise with the use or
        inability to use the materials on Product Hunt Turkey’s Website, even if Product Hunt Turkey or an authorize
        representative of this Website has been notified, orally or written, of the possibility of such damage. Some
        jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental
        damages, these limitations may not apply to you.</p>
    <strong>5. Revisions and Errata</strong>
    <p>The materials appearing on Product Hunt Turkey’s Website may include technical, typographical, or photographic
        errors. Product Hunt Turkey will not promise that any of the materials in this Website are accurate, complete,
        or current. Product Hunt Turkey may change the materials contained on its Website at any time without notice.
        Product Hunt Turkey does not make any commitment to update the materials.</p>
    <strong>6. Links</strong>
    <p>Product Hunt Turkey has not reviewed all of the sites linked to its Website and is not responsible for the
        contents of any such linked site. The presence of any link does not imply endorsement by Product Hunt Turkey of
        the site. The use of any linked website is at the user’s own risk.</p>
    <strong>7. Site Terms of Use Modifications</strong>
    <p>Product Hunt Turkey may revise these Terms of Use for its Website at any time without prior notice. By using this
        Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>
    <strong>8. Your Privacy</strong>
    <p>Please read our Privacy Policy.</p>
    <strong>9. Governing Law</strong>
    <p>Any claim related to Product Hunt Turkey's Website shall be governed by the laws of tr without regards to its
        conflict of law provisions.</p>
</article>
{% elif CURRENT_LANGUAGE == 'tr' %}
<article class="terms-of-service">
    <strong>Kullanım Koşulları</strong>
    <p>Son güncellenme: 29/10/2021</p>
    <p>Sevgili ziyaretçimiz, lütfen https://producthuntturkey.com/ web sitemizi ziyaret etmeden önce işbu kullanım
        koşulları sözleşmesini dikkatlice okuyunuz. Siteye erişiminiz tamamen bu sözleşmeyi kabulünüze ve bu sözleşme
        ile belirlenen şartlara uymanıza bağlıdır. Şayet bu sözleşmede yazan herhangi bir koşulu kabul etmiyorsanız,
        lütfen siteye erişiminizi sonlandırınız. Siteye erişiminizi sürdürdüğünüz takdirde, koşulsuz ve kısıtlamasız
        olarak, işbu sözleşme metninin tamamını kabul ettiğinizin, tarafımızca varsayılacağını lütfen unutmayınız.</p>
    <p>https://producthuntturkey.com/ web sitesi Product Hunt Turkey tarafından yönetilmekte olup, bundan sonra SİTE
        olarak anılacaktır. İşbu siteye ilişkin Kullanım Koşulları, yayınlanmakla yürürlüğe girer. Değişiklik yapma
        hakkı, tek taraflı olarak SİTE'ye aittir ve SİTE üzerinden güncel olarak paylaşılacak olan bu değişiklikleri,
        tüm kullanıcılarımız baştan kabul etmiş sayılır.</p>
    <strong>Gizlilik</strong>
    <p>Gizlilik, ayrı bir sayfada, kişisel verilerinizin tarafımızca işlenmesinin esaslarını düzenlemek üzere mevcuttur.
        SİTE'yi kullandığınız takdirde, bu verilerin işlenmesinin gizlilik politikasına uygun olarak gerçekleştiğini
        kabul edersiniz.</p>
    <strong>Hizmet Kapsamı</strong>
    <p>Product Hunt Turkey olarak, sunacağımız hizmetlerin kapsamını ve niteliğini, yasalar çerçevesinde belirlemekte
        tamamen serbest olup; hizmetlere ilişkin yapacağımız değişiklikler, SİTE'de yayınlanmakla yürürlüğe girmiş
        sayılacaktır.</p>
    <strong>Telif Hakları</strong>
    <p>SİTE'de yayınlanan tüm metin, kod, grafikler, logolar, resimler, ses dosyaları ve kullanılan yazılımın sahibi
        (bundan böyle ve daha sonra "içerik" olarak anılacaktır) Product Hunt Turkey olup, tüm hakları saklıdır. Yazılı
        izin olmaksızın site içeriğinin çoğaltılması veya kopyalanması kesinlikle yasaktır.</p>
    <strong>Genel Hükümler</strong>
    <ol>
        <li>Kullanıcıların tamamı, SİTE'yi yalnızca hukuka uygun ve şahsi amaçlarla kullanacaklarını ve üçüncü kişinin
            haklarına tecavüz teşkil edecek nitelikteki herhangi bir faaliyette bulunmayacağını taahhüt eder. SİTE
            dâhilinde yaptıkları işlem ve eylemlerindeki, hukuki ve cezai sorumlulukları kendilerine aittir. İşbu iş ve
            eylemler sebebiyle, üçüncü kişilerin uğradıkları veya uğrayabilecekleri zararlardan dolayı SİTE'nin doğrudan
            ve/veya dolaylı hiçbir sorumluluğu yoktur.</li>
        <li>SİTE'de mevcut bilgilerin doğruluk ve güncelliğini sağlamak için elimizden geleni yapmaktayız. Lakin
            gösterdiğimiz çabaya rağmen, bu bilgiler, fiili değişikliklerin gerisinde kalabilir, birtakım farklılıklar
            olabilir. Bu sebeple, site içerisinde yer alan bilgilerin doğruluğu ve güncelliği ile ilgili tarafımızca,
            açık veya zımni, herhangi bir garanti verilmemekte, hiçbir taahhütte bulunulmamaktadır.</li>
        <li>SİTE'de üçüncü şahıslar tarafından işletilen ve içerikleri tarafımızca bilinmeyen diğer web sitelerine,
            uygulamalara ve platformlara köprüler (hyperlink) bulunabilir. SİTE, işlevsellik yalnızca bu sitelere
            ulaşımı sağlamakta olup, içerikleri ile ilgili hiçbir sorumluluk kabul etmemekteyiz.</li>
        <li>SİTE'yi virüslerden temizlenmiş tutmak konusunda elimizden geleni yapsak da, virüslerin tamamen bulunmadığı
            garantisini vermemekteyiz. Bu nedenle veri indirirken, virüslere karşı gerekli önlemi almak, kullanıcıların
            sorumluluğundadır. Virüs vb. kötü amaçlı programlar, kodlar veya materyallerin sebep olabileceği zararlardan
            dolayı sorumluluk kabul etmemekteyiz.</li>
        <li>SİTE'de sunulan hizmetlerde, kusur veya hata olmayacağına ya da kesintisiz hizmet verileceğine dair garanti
            vermemekteyiz. SİTE'ye ve sitenin hizmetlerine veya herhangi bir bölümüne olan erişiminizi önceden
            bildirmeksizin herhangi bir zamanda sonlandırabiliriz.</li>
    </ol>
    <strong>Sorumluluğun Sınırlandırılması</strong>
    <p>SİTE'nin kullanımından doğan zararlara ilişkin sorumluluğumuz, kast ve ağır ihmal ile sınırlıdır. Sözleşmenin
        ihlalinden doğan zararlarda, talep edilebilecek toplam tazminat, öngörülebilir hasarlar ile sınırlıdır. Yukarıda
        bahsedilen sorumluluk sınırlamaları aynı zamanda insan hayatına, bedeni yaralanmaya veya bir kişinin sağlığına
        gelebilecek zararlar durumunda geçerli değildir. Hukuken mücbir sebep sayılan tüm durumlarda, gecikme, ifa
        etmeme veya temerrütten dolayı, herhangi bir tazminat yükümlülüğümüz doğmayacaktır.</p>
    <p>Uyuşmazlık Çözümü: İşbu Sözleşme'nin uygulanmasından veya yorumlanmasından doğacak her türlü uyuşmazlığın
        çözümünde, Türkiye Cumhuriyeti yasaları uygulanır; Konya Adliyesi Mahkemeleri ve İcra Daireleri yetkilidir.</p>
    <p>Bu kullanım koşulları, https://sartlar.com aracılığıyla oluşturulmuştur.</p>
</article>
{% endif %}
{% endblock content %}