{% extends 'partials/_base.html' %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% load static %}

{% block title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
What is Product Hunt? - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Product Hunt Nedir? - Product Hunt Turkey
{% endif %}
{% endblock title %}

{% block og-title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
What is Product Hunt? - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Product Hunt Nedir? - Product Hunt Turkey
{% endif %}
{% endblock og-title %}

{% block og-description %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
What is Product Hunt?
{% elif CURRENT_LANGUAGE == 'tr' %}
Product Hunt Nedir?
{% endif %}
{% endblock og-description %}

{% block og-site-name %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
What is Product Hunt? - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Product Hunt Nedir? - Product Hunt Turkey
{% endif %}
{% endblock og-site-name %}

{% block og-twitter-title %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
What is Product Hunt? - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Product Hunt Nedir? - Product Hunt Turkey
{% endif %}
{% endblock og-twitter-title %}

{% block og-twitter-description %}
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
What is Product Hunt? - Product Hunt Turkey
{% elif CURRENT_LANGUAGE == 'tr' %}
Product Hunt Nedir? - Product Hunt Turkey
{% endif %}
{% endblock og-twitter-description %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/what.css' %}">
{% endblock css %}

{% block content %}
{% include 'partials/_social-media.html' %}
{% if CURRENT_LANGUAGE == 'en' %}
<article class="what-is">
    <h1>What is Product Hunt?</h1>
</article>
{% elif CURRENT_LANGUAGE == 'tr' %}
<article class="what-is">
    <h1>Product Hunt Nedir?</h1>
</article>
{% endif %}
{% endblock content %}