### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Django ###
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
*.mo
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/