.MetricContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .Metric{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  }
  
  .Metric:not(:last-child){
    margin-right: 30px;
  }
  
  .MetricTitle{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 41px;
  }
  
  .MetricContent{
    display: flex;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
  }