.privacy-policy {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: #FFFFFF;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .privacy-policy {
        width: 98%;
    }
}