{% load i18n %}
{% load static %}

<!DOCTYPE html>
{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'en' %}
<html lang="en">
{% elif CURRENT_LANGUAGE == 'tr' %}
<html lang="tr">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/developer.css' %}">
    <link rel="stylesheet" href="{% static 'css/social-media.css' %}">
    <link rel="stylesheet" href="{% static 'css/github.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %}
    {% endblock css %}
    <title>Product Hunt Turkey</title>
</head>

<body>
    {% include 'partials/_github.html' %}
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_developer.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'partials/_footer.html' %}
    {% block js %}
    {% endblock js %}
</body>

</html>