{% load i18n %}
{% load static %}

<header class="header-section">
    <a href="/">
        <div class="header-logo">
            <figure>
                <img class="header-logo-item" src="{% static 'images/producthuntturkey-logo.png' %}"
                    alt="Product Hunt Turkey Logo" />
            </figure>
            <span class="header-logo-item-name">Product<br/>Hunt<br/>Turkey</span>
        </div>
    </a>

    <nav class="menu-items">
        <a class="menu-item" href="{% url 'open-startup' %}">
            <button class="menu-button">{% trans "Open Startup" %}</button>
        </a>
        <a class="MenuItem" href="{% url 'add-your-startup' %}">
            <button class="menu-button">{% trans "Add Your Product" %}</button>
        </a>
    </nav>
</header>