{% load i18n %}
{% load static %}

<article class="social-media">
    <section class="social-media__item">
        <a href="https://github.com/mrabdullahsahin/producthuntturkey.com" target="_blank">
            <figure>
                <img src="{% static 'images/svg/github_en.svg' %}" alt="Product Hunt Turkey Github">
            </figure>
        </a>
    </section>
    <section class="social-media__item">
        <a href="https://twitter.com/productturkey" target="_blank">
            <figure>
                <img src="{% static 'images/svg/twitter_en.svg' %}" alt="Product Hunt Turkey Twitter">
            </figure>
        </a>
    </section>
    <section class="social-media__item">
        <a href="https://tr.linkedin.com/company/producthuntturkey/" target="_blank">
            <figure>
                <img src="{% static 'images/svg/linkedin_en.svg' %}" alt="Product Hunt Turkey Linkedin">
            </figure>
        </a>
    </section>
    <section class="social-media__item">
        <a href="https://t.me/producthuntturkey" target="_blank">
            <figure>
                <img src="{% static 'images/svg/telegram_en.svg' %}" alt="Product Hunt Turkey Telegram">
            </figure>
        </a>
    </section>
</article>