{% load i18n %}
{% load static %}

<article class="social-media">
    <section class="social-media__item">
        <figure>
            <img src="{% static 'images/svg/github_en.svg' %}" alt="">
        </figure>
    </section>
    <section class="social-media__item">
        <figure>
            <img src="{% static 'images/svg/twitter_en.svg' %}" alt="">
        </figure>
    </section>
    <section class="social-media__item">
        <figure>
            <img src="{% static 'images/svg/linkedin_en.svg' %}" alt="">
        </figure>
    </section>
</article>